<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7  mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="row">
          <div class="d-flex justify-content-center">
          <h2>Settings</h2>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
           
            <div class="field col-12 mt-4">
                    <% invalid = @user.errors.include?(:email) %>
                    <div class="form-group">
                    <%=f.label :Email%>
                    <%= f.text_field :email, class: "form-control #{'is-invalid' if invalid}", placeholder: 'email',value: current_user.email%>
                    <% if invalid %>
                        <div class="invalid-feedback d-block">
                        <% @user.errors.full_messages_for(:email).each do |error_message| %>
                            <%= error_message %>.
                        <% end %>
                        </div>
                    <% end %>
                    </div>
                </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <!-- Disable 2FA with OTP -->
            <% if resource.otp_required_for_login %>
              <div class="field" style="margin: 1em">
                <i>Enter OTP to disable Two Factor Authentication</i><br />
                <%= f.text_field :otp_attempt, class: "form-control" %>
              </div>
            <% else %>
              <div class="field" style="margin: 1em">
                <i>Enable OTP?</i><br />
                <%= link_to "Enable 2FA", enable_otp_show_qr_path %>
              </div>
            <% end %>
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
            </div>
            <br>
            <div class="actions d-flex justify-content-center">
              <%= f.submit "Update", class:"btn btn-outline-secondary" %>
            </div>
          <% end %>
          <div class="d-flex justify-content-center">
          <h3>Cancel my account</h3>
          </div>
          <div class="d-flex justify-content-center">
          <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),class:"btn btn-outline-secondary", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
          </div>
          <div class="d-flex justify-content-end">
          <%= link_to "Back", root_path, class:"btn btn-outline-secondary" %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

