<html>
<body>
<h2> Your Cart </h2>
<div class="d-flex justify-content-end">       
   <%= link_to 'Continue Shopping', products_path, class:"btn btn-outline-success btn-lg" %>&nbsp &nbsp
   <%= link_to 'Place Order', orders_path , class:"btn btn-outline-success btn-lg" %>
</div>
<hr/>
<div class="d-flex justify-content-end subtotal">
  <h4><strong>Cart Subtotal: </strong><%= number_to_currency(@subtotal, unit: "₹", format: "%u %n") %></h4>
</div>
<% @cart.lineitems.each do |lineitem| %>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
         <%= image_tag lineitem.product.images.first, size:"210x210"%><br>
      </div>
      <div class="col-md-6">
        <div style="font-size:21px;">
          <h2><%= lineitem.product.name %></h2>
          <strong>Product Description:</strong> &nbsp <%= lineitem.product.desc %><br>
          <strong> Sizes:</strong>&nbsp
          <div class="size-buttons">
          <% lineitem.sizes.each do |size| %> 
            <button class="size-button submit-button" type="button" id="size_<%= size.id %> activateButton" data-size-id="<%= size.id %>">
            <%= size.abbreviation %><br>
          <% end %>
          </button>
          </div>
          <div class="qty">
          <strong>Quantity: </strong> &nbsp 
            <%= lineitem.lineitem_sizes.pluck(:quantity).join(',') %>
          </div>
          <div class="d-flex grid gap-4">
          <%= link_to increase_stk_lineitem_path(lineitem), method: :patch,remote: true,class:"increase-stk "  do %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/128/9293/9293648.png",size:"35x35", alt: "Logo" %>
          <% end %>
          <%= link_to decrease_stk_lineitem_path(lineitem), method: :patch,remote: true, class:"decrease-stk " do %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/128/54/54373.png",size:"31x31"%>
          <% end %>
          </div>
          <div class="price_<%= lineitem.id %>"> <strong>Price:</strong> &nbsp  <%= number_to_currency(lineitem.unit_price, unit: "₹", format: "%u %n") %></div>
          
        </div>
      </div>   
      <div class="col-md-3 mt-2 d-flex justify-content-around align-items-center">
        <%= link_to increase_quantity_lineitem_path(lineitem), method: :patch,remote: true, class:"increase-quantity"  do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/128/3032/3032220.png",size:"35x35", alt: "Logo" %>
        <% end %>

        <%= link_to decrease_quantity_lineitem_path(lineitem), method: :patch,remote: true, class:"decrease-quantity" do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/128/2740/2740653.png",size:"42x42"%>
        <% end %>

        <%= link_to remove_item_cart_path(lineitem), method: :delete, data: { confirm: "Are you sure?" },remote: true  do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/128/1/1570.png",size:"35x35", alt: "Logo" %>
        <% end %>
      </div>
      </div>
      <br>
      <hr>
</div>
<% end %>
</body>
</html>

         <script>
            $(document).ready(function() {
              $('.increase-quantity').click(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/lineitems/increase_quantity',
                   method: 'PATCH', 
                   dataType: 'script',
                  success: function(response) {
                    console.log('Quantity increased successfully');
                   }
                });
              });
              $('.increase-stk').click(function(event) {
                event.preventDefault();
                var sizeId = $('.size-button').data('size-id');
                var lineitem_id = $(this).data('lineitem_id');
                if(sizeId){
                $.ajax({
                    url: '/lineitems/increase_stk',
                   method: 'PATCH', 
                   dataType: 'script',
                   data: { size_id: sizeId,
                   id: lineitem_id },
                  success: function(response) {
                    console.log(' Stock Quantity increased successfully');
                    console.log(sizeId);
                   }
                });
              }
            else{
              console.error('size_id is missing or invalid');
            }
              });
              $('.decrease-stk').click(function(event) {
                event.preventDefault();
                var sizeId = $('.size-button').data('size-id');
                var lineitem_id = $(this).data('lineitem_id');
                if(sizeId){
                $.ajax({
                    url: '/lineitems/decrease_stk',
                   method: 'PATCH', 
                   dataType: 'script',
                   data: { size_id: sizeId,
                  id: lineitem_id },
                  success: function(response) {
                    console.log(' Stock Quantity decreased successfully');
                   }
                });
                  }
              else{
                console.error('size_id is missing or invalid');
              }
              });
              $('.decrease-quantity').click(function(event) {
                event.preventDefault();
                var lineitem_id = $(this).data('lineitem_id');
                $.ajax({
                  url:'/lineitems/decrease_quantity',
                  method: 'PATCH', 
                  dataType: 'script',
                  data:{ id: lineitem_id },
                  success: function(response) {
                  console.log('Quantity decreased successfully');
                  }
          });
      
              });
              
            });
          </script>

