<% if @category %>
  <% if @category.products.present? %>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="card m-1" style="width: 25rem; height: 34rem;">
          <%= link_to product_path(product), style: "text-decoration: none;" do %>
            <% if product.images.attached? %>
              <%= image_tag product.images.first, class: "card-img-top", size: "350x350" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-dark"><%= product.name %></h5>
              <div class="text-dark">
                <strong>Price:</strong> &nbsp <%= number_to_currency(product.price, unit: "₹", format: "%u %n") %><br><br>
              </div>
              <%= link_to "Show Product", product_path(product), class: "btn btn-outline-success justify-content-center d-flex" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% elsif %>
  <div class="md-3 mt-20 d-flex justify-content-around align-items-center"><h3> Sorry There is no products for this Category.</h3></div>
  <% end %> 
<% else%>
<% if current_user.admin? %>
<%= link_to "New Product", new_product_path , class:"btn btn-primary", style:"text-decoration: none;"%>
<% end %><br><br>
<% if current_user.guest? %>
  <div class="d-flex justify-content-end">
  <div class="search-form-container">
    <%= form_tag(products_products_path(category: @category), method: "get") do %>
      <%= select_tag(:category, options_for_select(Category.pluck(:name, :id), params[:category]), include_blank: "Select category", class: "search-form-input")%>
      <%= submit_tag("Filter") %>
    <% end %>
  </div>
  </div>
<% if @category %>
  <% if @category.products.present? %>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="card m-1" style="width: 25rem; height: 34rem;">
          <%= link_to product_path(product), style: "text-decoration: none;" do %>
            <% if product.images.attached? %>
              <%= image_tag product.images.first, class: "card-img-top", size: "350x350" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-dark"><%= product.name %></h5>
              <div class="text-dark">
                <strong>Price:</strong> &nbsp <%= number_to_currency(product.price, unit: "₹", format: "%u %n") %><br><br>
              </div>
              <%= link_to "Show Product", product_path(product), class: "btn btn-outline-success justify-content-center d-flex" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h1>No products found for category: <%= params[:category] %></h1>
  <% end %>
  <% end %>
<% end %>
<br>
    <div class="row row-cols-1 row-cols-md-3 g-4  justify-content-center">
    <% @products.each do |product|%>
        <div class="card m-1" style="width: 18rem;">
        <%= link_to product_path(product), style:"text-decoration: none;" do %>
        <% if product.images.attached? %>
          <%= image_tag product.images.first, class:"card-img-top", size:"250x250"%>
        <% end %>
        <div class="card-body">
        <h5 class="card-title text-dark"><%= product.name %></h5>
        <div class="text-dark">
        <strong>Price:</strong> &nbsp <%= number_to_currency(product.price, unit: "₹", format: "%u %n") %><br><br>
        </div>
        <%= link_to "Show Product", product_path(product), class:"btn btn-outline-success justify-content-center d-flex"%>
        <% end %>
        </div>
    </div>
    <% end %>
    </div>
<% end %>


